body {
    background: rgb(57, 74, 78);
    font: normal 15pt Arial;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: min(80vw,600px);
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}